<html>
  <head>
    <meta charset="utf-8" />
    <title>Invoice</title>
    <style>
      * {
        border: 0;
        box-sizing: content-box;
        color: inherit;
        font-family: "HP Simplified Hans";
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        list-style: none;
        margin-left: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
      }

      h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
      }

      /* table */

      table {
        font-size: 75%;
        table-layout: fixed;
        width: 100%;
      }
      table {
        border-collapse: separate;
        border-spacing: 2px;
      }
      th,
      td {
        border-width: 1px;
        padding: 0.5em;
        position: relative;
        text-align: left;
      }

      /******************Final style***********/
      /* th,
      td {
        border-radius: 0.25em;
        border-style: solid;
      }
      th {
        background: #eee;
        border-color: #bbb;
      }
      td {
        border-color: #ddd;
      } */

      /* page */

      /* html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); } */

      /* header */

      header {
        text-align: center;
        display: block;
      }
      /* header:after {
        clear: both;
        content: "";
        display: table;
      } */
      body {
        margin: 0;
        padding: 0;
      }
      header h1 {
        background: #000;
        border-radius: 0.25em;
        color: #fff;
        padding: 0.5em 0;
        margin: 0;
      }
      header address {
        font-size: 75%;
        font-style: normal;
        line-height: 1.25;
      }
      header span,
      header img {
        display: block;
        float: right;
      }
      header span {
        max-height: 25%;
        max-width: 60%;
        position: relative;
      }
      header img {
        max-height: 100%;
        max-width: 100%;
      }
      header input {
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      /* article */

      article,
      article div,
      table.meta,
      table.inventory {
        margin: 0 0 3em;
      }
      /* article:after {
        clear: both;
        content: "";
        display: table;
      } */
      article h1 {
        clip: rect(0 0 0 0);
        position: absolute;
      }

      article div {
        float: left;
        font-size: 125%;
        font-weight: bold;
        width: 36%;
      }

      /* table meta & balance */

      table.balance {
        float: right;
        width: 33.4%;
      }
      /* table.meta:after,
      table.balance:after {
        clear: both;
        content: "";
        display: table;
      } */

      /* table meta */

      /* table.meta th {
        width: 40%;
      }
      table.meta td {
        width: 60%;
      } */

      /* table items */

      table.inventory {
        clear: both;
        width: 100%;
      }
      table.inventory th {
        outline: 1px solid black;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
      }
      table.inventory td {
        outline: 1px solid black;
        border-radius: 0;
        height: 100px;
      }

      table.inventory td:nth-child(1) {
        width: 26%;
      }
      table.inventory td:nth-child(2) {
        width: 38%;
      }
      table.inventory td:nth-child(3) {
        text-align: right;
        width: 12%;
      }
      table.inventory td:nth-child(4) {
        text-align: right;
        width: 12%;
      }
      table.inventory td:nth-child(5) {
        text-align: right;
        width: 12%;
      }

      /* table balance */
      table.balance {
        transform: translateY(-2px);
      }
      table.balance th,
      table.balance td {
        outline: 1px solid black;
        width: 50%;
      }
      table.balance td {
        text-align: right;
      }

      * {
        -webkit-print-color-adjust: exact;
      }
      html {
        background: none;
        padding: 0;
        width: 100vw;
        height: 100vh;
      }
      span:empty {
        display: none;
      }

      @page {
        margin: 0;
      }

      header address p:nth-child(1) {
        display: flex;
        flex-direction: column;
      }
      #om{
        font-weight: 900;
        font-size: 2rem;
      }
      header address p:nth-child(2) {
        font-weight: 900;
        font-size: 1.2rem;
      }

      header address p:nth-child(3) {
        font-weight: 200;
        font-size: 1rem;
      }
      header address p:nth-child(4) {
        font-weight: 900;
        font-size: 1.3rem;
      }
      article div p {
        font-size: 1rem;
      }
      th span {
        font-weight: 900;
      }
      td span {
        font-weight: 500;
      }
      .balance tr:nth-child(4) th span:first-child {
        font-weight: 900;
        font-size: 1.2rem;
      }
      .balance tr:nth-child(4) td span {
        font-weight: 900;
        font-size: 1.3rem;
      }
      article div {
        margin: 0;
      }
      table.meta {
        margin: 0;
      }
      table.inventory {
        margin: 0;
      }
      div p {
        margin: 0;
      }
      .words {
        float: left;
        width: 66.6%;
        height: 117px;
        outline: 1px solid black;
      }
      .words p {
        font-size: 1.1rem;
        font-weight: 700;
      }
      /* *************Final Styling******* */
      .outer {
        width: 210vw;
        /* width: 50vw; */
        height: 100vh;
        position: absolute;
        display: grid;
        justify-content: center;
        margin-top: 15px;
        margin-left: 20vw;
        margin-right: 20vw;
      }
      .signature {
        position: relative;
        clear: both;
        width: 100%;
        outline: 1px solid black;
        transform: translateY(-2.5px);
      }
      .customer-details p:nth-child(2),.customer-details p:nth-child(3),.customer-details p:nth-child(4) {
        font-weight: 600;
      }
      .customer-details {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: clamp(100px, auto);
        float: left;
      }
      .meta-table {
        clear: both;
        width: 100%;
        margin: 0;
      }
      .meta th,
      .meta td {
        margin: 0;
        font-size: 1rem;
        outline: 1px solid black;
      }
      .meta {
        width: 100%;
        height: 100px;
        clear: both;
      }
      article {
        margin: 0;
      }
      .products {
        font-size: 1.2rem;
      }
      #phone-no {
        font-size: 1rem;
      }
      .meta-right,.meta-right span {
        width: 122px;
      }
      .text-right {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div class="outer">
      <div class="container">
        <header>
          <h1>Tax Invoice</h1>
          <address>
            <p><p id="om">Om Ice Cubes</p></p>
            <p>Human Consumption Ice</p>
            <p id="200" style="font-weight: 900; font-size: 1rem;">
              #200,Thanamma Layout,Near Vijaya Bank Layout
              <br />Bilekahalli,B.G.Road,Bangalore-560076
            </p>
            <p style="font-weight: 900; font-size: 1rem;">GST:29ADTPN5807C1Z8</p>
            <p id="phone-no">Ph:9986981904</p>
          </address>
        </header>
        <article>
          <div class="meta-table">
            <table class="meta">
              <tr>
                <th rowspan="2">
                  <div class="customer-details">
                    <p style="text-decoration: underline;">Customer Details:</p>
                    <p>{{name}}</p>
                    <p>{{address}}</p>
                    <p>GST:{{gst}}</p>
                  </div>
                </th>
                <th class="meta-right"><span>Invoice</span></th>
                <td class="meta-right"><span>%number%</span></td>
              </tr>
              <tr>
                <th class="meta-right"><span>Date</span></th>
                <td class="meta-right"><span>{{date}}</span></td>
              </tr>
            </table>
          </div>
          <table class="inventory">
            <thead>
              <tr>
                <th><span>Quantity</span></th>
                <th colspan="3"><span>Item</span></th>
                <th><span>Rate</span></th>
                <th><span>Amount</span></th>
              </tr>
            </thead>
            <tbody>
              <products>
                <tr>
                  <td>
                    <span class="products">{{quantity}} {{packOrKg}}</span>
                  </td>
                  <td colspan="3"><span class="products">Ice Cubes</span></td>
                  <td><span class="products">{{rate}}</span></td>
                  <td><span class="products">{{amount}}</span></td>
                </tr>
              </products>
            </tbody>
          </table>
          <table class="words">
            <tr>
              <td rowspan="3">
                <p>{{words}}</p>
              </td>
            </tr>
          </table>
          <table class="balance">
            <tr>
              <th><span>Taxable Amount</span></th>
              <td><span>{{amount}}.00</span></td>
            </tr>
            <tax>
              <tr>
                <th><span>CGST 2.5%</span></th>
                <td><span>{{tax}}</span></td>
              </tr>
            </tax>
            <tax>
              <tr>
                <th><span>SGST 2.5%</span></th>
                <td><span>{{tax}}</span></td>
              </tr>
            </tax>
            <tr>
              <th><span>Total:</span></th>
              <td><span>{{total}}</span></td>
            </tr>
          </table>
          <table class="signature">
            <tr>
              <td></td>
              <td class="text-right">For Om Ice Cubes</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Customer Signature</td>
              <td class="text-right">Authorized Signatory</td>
            </tr>
          </table>
        </article>
      </div>
    </div>
  </body>
</html>
